<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "my-3"style="margin-left: 200px;">
    <%# <%= form.label :img, style: "display: block" %>
  
    
    <span>
    <%= form.file_field :image %>
     <br>
    </span>
    
    <span >   
    
    <%= form.submit "Add Pic" ,class:"btn btn-secondary" %>
    
    </span>

  
  </div>
<% end %>
