<p style="color: green"><%= notice %></p>
<%= link_to %>
<%= link_to "New post", new_post_path %>
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%# <%= render post %>
    <%= render "posts/draggable",post: post%>
  
  <% end %>
</div>

  
  
      <%# <%= link_to "Show this post", post %>

      <style>
#posts{
  display: flex;
  flex-wrap: wrap;
}
</style>